<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="InputFileLocation" value="C:\Users\585696\Desktop"/>
    <add key="InputFilePattern" value="*.csv"/>
    <add key="OutputFileLocation" value="C:\Test"/>
    <add key="NumberOfProcessor" value="1"/>
  </appSettings>
</configuration>
